<div class="page-header">
  <h3>{{log.id}}</h3>
</div>

<div id="accordion" class="content panel-group">
  <div class="log_record panel panel-default" ng-repeat="rec in log.content">
    <div class="panel-heading">
      <div class="panel-title" ng-click="collapse(rec.no)">
        <a data-toggle="collapse" ng-click="collapse(rec.no)"><span class="expand"></span></a>
        <span class="label {{ (rec.heading.indexOf('ERROR') != -1)? 'label-danger':'label-warning' }}">
          {{ (rec.heading.indexOf("ERROR") != -1)? 'ERROR':'WARNING' }}
        </span>

        {{rec.heading}}
      </div>
    </div>
    <div id="collapse_{{rec.no}}" class="panel-collapse collapse fade">
      <div class="panel-body stacktrace">{{rec.data}}</div>
    </div>
  </div>
</div>