<div class="row">
  <div class="sidebar col-xs-6 col-lg-3">
    <div class="filters">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="id">Alphabetical</option>
        <option value="no">Newest</option>
      </select>

    </div>
    <div class="log_list">
      <!--Body content-->
      <div class="list-group">
        <a href="#/logs/{{log.id}}" ng-repeat="log in logs | filter:query | orderBy:orderProp" class="list-group-item">
          <span class="badge">{{log.no}}</span> {{log.id}}
        </a>
      </div>

    </div>
  </div>
</div>
